@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap'); /* base */
:root {
    --main-color: rgb(54, 54, 54); 
    --accent-color: rgb(255, 204, 1); 
    --white-color: rgb(255, 255, 255); 
    --black-color: rgb(0, 0, 0); 
    --scroll-menu: rgb(23, 161, 190); 
    --page-width: 1400px; 
    --mobile-menu-color: rgb(17, 40, 64); 
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, p, header, nav, section, footer {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(247, 247, 247);
    color: var( --main-color);
    font-family: 'Raleway', sans-serif;
    margin: auto;
    box-sizing: border-box;
    max-width: var(--page-width);
}

.main-header {
    background-image: url(../img/group.png);
    min-height: 400px;
    background-position: center;
    background-size: cover;
}

.top-line {
    padding: 0.1rem 1rem;
    transition: all 0.5s;
    display: none;
    font-size: 13px;
    justify-content: space-between;
    border-bottom: 0.1px solid var( --white-color);
}

.top-line__contact, .top-line__soc-icon {
    display: flex;
}

.top-line__img {
    width: 16px;
    padding-right: 0.3rem;
}

.top-line__email {
    padding-right: 2rem;
}

.top-line__soc-icon {
    list-style: none;
}

.top-line__soc-icon li {
    padding: 0 0.2rem;
}

.top-line__soc-icon img {
    width: 60%;
}

.icon__img-hover:hover {
    opacity: .5;
    color: #ffffff;
}

.menu {
    height: 105px;
    position: fixed;
    width: 100%;
    background-color: var(--mobile-menu-color);
}

.menu__container {
    padding: 1rem 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex: 1 1;
}

.menu__items {
    display: none;
    list-style: none;
}

.menu__item {
    padding: 1rem;
    padding-bottom: 1.3rem;
    text-transform: uppercase;
    white-space: nowrap;
}

.menu__link {
    text-decoration: none;
    color: var(--white-color);
}

.menu__item img {
    width: 20px;
}

.menu__item a:hover {
    text-decoration: none;
    border-bottom: 1px solid var(--accent-color);
    transition: 500ms all;
    color: var(--accent-color);
}

.menu__item__mobile-element {
    text-transform: lowercase;
    font-size: 1rem;
    display: inline;
}

.logo {
    display: flex;
    position: relative;
    text-align: center;
}

.logo img {
    width: 80%;
}

.logo-caption {
    font-size: 10px;
    text-align: center;
    position: relative;
    top: -13%;
    color: #ffffff;
}

.logo-caption:hover {
    color: var(--accent-color);
}

.search-container {
    display: none;
    transition: all 2s;
}

.search-container_opened {
    display: flex;
    background-color: var(--scroll-menu);
    position: absolute;
    max-width: var(--page-width);
    width: 100%;
    min-height: 460px;
    transition: all 2s;
    z-index: 5;
}
.search__close {
    background-color: var(--main-color);
    border: none;
    color: var(--white-color);
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    font-weight: bold;
    position: absolute;
    top: 20%;
    left: 80%;
    cursor: pointer;
    outline: none;
}

.search__form {
    display: block;
    position: absolute;
    transition: all 2s;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.search__btn {
    background-color: var(--accent-color);
    border: none;
    padding: 0.6rem;
    transition: all 2s;
    text-transform: uppercase;
    font-weight: bold;
    outline: none;
    cursor: pointer;
}

.main-description-container {
    padding-top: 10rem;
    text-align: center;
}

.main-description-container__title {
    font-size: 3rem;
}

.menu_scroll {
    width: 100%;
    display: flex;
    max-width: var(--page-width);
    transition: all 0.5s;
    top: 0;
    height: 60px;
    position: fixed;
    z-index: 2;
    opacity: .92;
    background-color: var(--scroll-menu);
}

.menu_scroll .menu__container {
    padding: 0 1rem;
    transition: all 0.5s;
}

.menu_scroll .menu__container .logo img {
    width: 60%;
    transition: all 0.5s;
}

.menu_scroll .menu__container .menu__item {
    transition: all 0.5s;
}

.menu_scroll .menu__items_opened {
    top: 44px;
}

@media (min-width: 760px) {
    .menu {
        max-width: var(--page-width);
        background-color: transparent;
        text-align: left;
    }

    .top-line {
        display: flex;
        align-items: center;
    }

    .menu__items {
        display: flex;
        align-items: center;
    }

    .menu__item__mobile-element {
        display: none;
    }

    .menu__mobile-controls {
        display: none;
    }

    .logo-caption {
        text-align: left;
        position: relative;
        left: 10%;
    }

    .logo img {
        width: 93%;
    }

    .btn-container {
        display: flex;
        width: 40%;
        margin: auto;
        padding-top: 3rem;
    }

    .main-description-container__title {
        font-size: 5rem;
    }

    .burger {
        display: none;
    }

    .section-advantages__container {
        display: flex;
    }

    .section-advantages__item {
        border: 1px solid rgb(229, 229, 229);
        width: 33%;
        margin-right: 1rem;
        padding: 2rem;
    }
}

.section-feature__container-left {
    display: flex;
}

@media (max-width: 760px) {
    .section-feature__container-left {
        display: none;
    }
}

input[type=checkbox] {
    transition: all 0.3s;
    display: none;
}

.burger {
    transition: all 0.3s;
    cursor: pointer;
    width: 40px;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.spinner {
    transition: all 0.5s;
    height: 3px;
    position: relative;
    display: flex;
    border-radius: 2px;
    width: 100%;
    background-color: var( --white-color);
    margin-bottom: 8px;
}

.spinner:last-child {
    margin-bottom: 0;
}

input[type=checkbox]:checked ~ .burger > .spinner:nth-child(1) {
    transition: all 0.3s;
    transform: rotate(135deg);
    margin-top: 8px;
    top: 5px;
}

input[type=checkbox]:checked ~ .burger> .spinner:nth-child(2) {
    transition: all 0.2s;
    opacity: 0;
}

input[type=checkbox]:checked ~ .burger > .spinner:nth-child(3) {
    transition: all 0.3s;
    transform: rotate(-135deg);
    margin-top: -17px;
}

@media (max-width: 760px) {
    .menu__items_opened {
        display: block;
        position: absolute;
        transform: scaleY(1);
        transform-origin: top center;
        border-top: 0.5px solid var( --white-color);
        border-bottom: 0.5px solid var( --white-color);
        transition: all 0.4s;
        background-color: rgb(17, 40, 63);
        opacity: 1;
        height: auto;
        padding: 3rem 3rem;
        top: 88px;
        width: 100%;
        left: 0;
    }

    .menu__item img {
        width: 20px;
    }

    .menu__item__mobile-search {
        display: inline;
    }
}

.btn {
    cursor: pointer;
    outline: none;
    background-image: linear-gradient(135deg, #FD6E6A 10%, #FFC600 100%);
    box-shadow: 0 8px 20px -14px #e80505;
    border: none;
    border-radius: 3px;
    color: var( --white-color);
    font-size: 18px;
    line-height: 2.5;
    padding: 0 1em;
    font-weight: 400;
    letter-spacing: 1px;
    transition: all 150ms;
    min-width: 144px;
    display: block;
    margin: 1em auto;
}

.btn:hover {
    background-image: none;
    color: var(--black-color);
    box-shadow: 0 8px 20px -14px var(--white-color);
}

.btn__view {
    background-color: transparent;
    color: var( --white-color);
    outline: none;
    cursor: pointer;
    font-size: 18px;
    border: 1px solid var( --white-color);
    border-radius: 3px;
    min-width: 144px;
    padding: 0.8rem 1rem;
    font-weight: 400;
    margin: 1em auto;
}

.btn__view:hover {
    background-color: var(--white-color);
    color: var(--black-color);
    box-shadow: 0 8px 20px -14px #e80505;
    transition: all 150ms;
}

.btn__next {
    margin-top: 1rem;
}

.scroll__top {
    display: none;
}

.scroll__top-icon {
    width: 16px;
}

.scroll__top_active {
    display: block;
    position: fixed;
    bottom: 20px;
    right: 200px;
    z-index: 2;
    background-color: rgb(17, 40, 64);
    color: var( --white-color);
    cursor: pointer;
    padding: 0.4rem;
    border-radius: 3px;
}

.scroll__top_active:hover {
    background-color: var(--accent-color);
    transition: all 0.6s;
}

.page__section {
    max-width: var(--page-width);
    margin: auto;
    padding: 2rem 1.5rem;
}

.section__pre-title {
    font-size: 1.2rem;
    padding-bottom: 1rem;
}

.section__title {
    font-size: 2rem;
}

.section__sub-title {
    font-size: 1.2rem;
    padding: 0.5rem 0 1rem 0;
}

.section-white-color {
    color: var( --white-color);
}

.section-white {
    background-color: var( --white-color);
}

.products {
  max-width: var(--page-width);
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-flow: row wrap;
}

.products__item {
  position: relative;
  padding: 10px 20px 25px;
  width: 25%;
  background: #111;
  cursor: pointer;
  box-sizing: border-box;
}

/* Button Backgrounds */

.products__item:nth-child(1) {
  background: #117ec3;
}

.products__item:nth-child(2) {
  background: #1491e1;
}

.products__item:nth-child(3) {
  background: #2ba1eb;
}

.products__item:nth-child(4) {
  background: #49afef;
}

.products__item:nth-child(1):after,
.products__item:nth-child(2):after,
.products__item:nth-child(3):after {
  position: absolute;
  top: 45%;
  right: -18px;
  z-index: 1;
  content: "";
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #117ec3;
  transition: all .3s ease-in-out;
}

.products__item:nth-child(2):after {
  border-left: 20px solid #1491e1;
}

.products__item:nth-child(3):after {
  border-left: 20px solid #2ba1eb;
}

.products__item img {
  display: block;
  margin: 10px auto;
  width: 80px;
  height: 80px;
  transform-origin: center;
  transform: scale(0.9);
  color: var(--white-color);
}

.products__item .icon svg {
  fill: currentColor;
}

.products__item .icon path {
  fill: currentColor;
}
.products__item h2 {
  margin-bottom: 1rem;
  text-align: center;
  color: var(--white-color);
  font-size: 1.4rem;
  font-weight: 400;
}

.products__item p {
  color: var(--white-color);
  text-align: center;
  line-height: 1.5em;
}

.products__item:hover {
  background: var(--accent-color);
}

.products__item:hover:after {
  border-left: 20px solid var(--accent-color);
}

.products__item:hover .icon {
  transform-origin: center;
  transform: scale(1);
  color: var(--white-color);
}

.products__item:hover h2 {
  color: var(--white-color);
}


@media all and (max-width: 950px) and (min-width: 701px) {
  .products__item {
    width: 50%;
  }
  
  .products__item:nth-child(2):after {
    border-left: 0px;
  }
}

@media all and (max-width: 700px) and (min-width: 0px) {
  .products__item {
    display: block;
    width: 100%;
  }
  
  .products__item:nth-child(1):after,
  .products__item:nth-child(2):after,
  .products__item:nth-child(3):after {
    border-left: 0px;
  }
}

.btn__enjoy {
    font-size: 1rem;
    text-transform: uppercase;
    margin-top: 1rem;
    padding: 0.7rem 1rem;
    color: var(--black-color);
    background-color: var(--white-color);
    border-radius: 20px;
    margin-top: 1rem;
}

.section-content {
    padding: 3rem 0;
}

.section-content__card {
    display: flex;
    align-items: center;
}

.section-content__card_right {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    text-align: center;
}

.section-content__card__caption {
    padding: 1rem 0;
}

.section-content__card__text {
    padding: 0 1rem;
    margin-bottom: 1rem;
}

.section-content__icon {
    width: 30px;
}

.section-content__card img {
    width: 100%;
    display: block;
}

@media (min-width: 910px) {
    .section-content__list {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 1rem 1fr;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
    }
}

.section-feature__container {
    display: flex;
    margin: auto;
}

.section-feature__items {
    display: flex;
    flex-wrap: wrap;
}

.section-contact-info__container {
    padding: 0 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section-contact-info__item {
    display: flex;
}

.gallery-section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.gallery-section__item {
    display: grid;
    -ms-grid-column: 1;
    min-height: 32vh;
    grid-column: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    align-content: center;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--white-color);
    position: relative;
    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease;
    cursor: pointer;
}

.gallery-section__item:first-child {
    grid-column: 1;
    background-image: url(../img/gallery/zeatrib.jpg);
}

.gallery-section__item:nth-child(2) {
    grid-column: 1;
    background-image: url(../img/gallery/philosopth.jpg);
}

.gallery-section__item:nth-child(3) {
    grid-column: 1;
    background-image: url(../img/gallery/boote.jpg);
}

.gallery-section__item:nth-child(4) {
    grid-column: 1;
    background-image: url(../img/gallery/coast.jpg);
}

.gallery-section__item:nth-child(5) {
    grid-column: 1;
    background-image: url(../img/gallery/hostlinea.jpg);
}

.gallery-section__item:nth-child(6) {
    grid-column: 1;
    background-image: url(../img/gallery/hunger.jpg);
}

.gallery-section__item:nth-child(7) {
    grid-column: 1;
    background-image: url(../img/gallery/intens.webp);
}

.gallery-section__item:nth-child(8) {
    grid-column: 1;
    background-image: url(../img/gallery/legacy.png);
}

.gallery-section__item:nth-child(9) {
    grid-column: 1;
    background-image: url(../img/gallery/novi.webp);
}

.gallery-section__item:hover {
    color: var(--accent-color);
    z-index: .8;
}

.gallery-section__text {
    z-index: 1;
}

.gallery-section__item:before {
    opacity: 1;
}

.gallery-section__item:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--main-color);
    opacity: .7;
    -webkit-transition: opacity .5s ease;
    -o-transition: opacity .5s ease;
    transition: opacity .5s ease;
}

.gallery-section__btn-container {
    grid-column: 1 / 5;
}

.gallery-section__item__btn {
    min-width: 250px;
}

@media (min-width: 750px) {
    .gallery-section {
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 0.5rem;
    }

    .gallery-section__item:first-child {
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
        grid-column: 1 / 3;
    }

    .gallery-section__item:nth-child(2) {
        -ms-grid-column: 3;
        grid-column: 3;
    }

    .gallery-section__item:nth-child(3) {
        -ms-grid-column: 4;
        grid-column: 4;
    }

    .gallery-section__item:nth-child(5) {
        -ms-grid-column: 2;
        -ms-grid-column-span: 2;
        grid-column: 2 / 4;
    }

    .gallery-section__item:nth-child(6) {
        -ms-grid-column: 4;
        grid-column: 4;
        -ms-grid-row: 2;
        -ms-grid-row-span: 2;
        grid-row: 2 / 4;
    }

    .gallery-section__item:nth-child(8) {
        -ms-grid-column: 2;
        grid-column: 2;
    }

    .gallery-section__item:nth-child(9) {
        -ms-grid-column: 3;
        grid-column: 3;
    }
}

.section-form {
    background-image: url(../img/contact-cover-img.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 3rem 0;
}

input, textarea {
    background: transparent;
    resize: none;
}

::placeholder {
    color: var(--white-color);
}

.section-form__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-form__description {
    display: flex;
    justify-content: center;
}

.contact__title {
    font-size: 2.1rem;
    text-align: center;
    text-transform: uppercase;
    color: var(--white-color);
    font-weight: 300;
    padding-bottom: 1rem;
}

.contact-elements__group {
    padding-bottom: 1rem;
}

.contact-elements__control {
    line-height: 2.3;
    padding: 0 0 0 0.9rem;
    font-size: 0.7rem;
    border-radius: 4px;
    border: solid 1px var(--white-color);
    color: var(--white-color);
    font-size: 0.9rem;
    width: 290px;
    outline: 0;
}

.contact-elements__control_textarea {
    padding-bottom: 2.3rem;
    font-size: 0.9rem;
}

.footer-container {
    padding: 3rem 2rem;
    background-color: #1a1a1a;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
}

.footer-soc__items {
    display: flex;
    padding-left: 0;
    flex-direction: row;
    justify-content: space-between;
}

.footer-soc__item {
    padding: 1rem;
    list-style: none;
}

.footer-menu__items {
    list-style: none;
    padding: 0;
}

.footer-menu__link {
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--white-color);
}

.footer-menu__link:hover {
    color: var(--accent-color);
}

.footer-soc__container {
    text-align: center;
}

.footer-soc__img:hover {
    opacity: .5;
}

@media (min-width: 750px) {
    .footer-container {
        flex-direction: row;
        text-align: left;
    }
}

.footer__copyright {
    padding: 1rem;
    color: var(--white-color);
    border-top: 0.1rem solid var(--white-color);
    background-color: #1a1a1a;
    display: flex;
    justify-content: center;
}

@media (min-width: 750px) {
    .footer__copyright {
        justify-content: flex-end;
    }
}

.footer__copyright__link {
    margin-left: 0.5rem;
    color: var(--white-color);
}

.footer__copyright__link:hover {
    color: var(--accent-color);
}

  
  .close{
    position:absolute;
    color:#fff;
    top:20px;
    right:50px;
    font-size:1.7em;
    cursor:pointer;
    display:none;
    z-index:999;
    -webkit-transform:rotate(0deg);
    transform:rotate(0deg);
    -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition:         all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55); 
  }
  
  .close:hover{
    font-size:2.4em;
    -webkit-transform:rotate(360deg);
    transform:rotate(360deg);
  }
  /*-------------- saerch section -----------*/
  .search{
    position:fixed;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    border-radius:1000px;
    width:0;
    height:0;
    background:#03a9f4;
     -webkit-transition: all .4s linear;
    transition:  all .4s linear;
  }
  
  .search i{
    color:#03a9f4;
    font-size:1.7em;
    cursor:pointer;
  }
  
  .search .input{
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    width:350px;
    height:40px;
    background:transparent;
    border:none;
    outline:none;
    border-bottom:3px solid #eee;
    color:#eee;
    font-size:1.3em;
    display:none;
  }
  
  
  .search.open{
    height:4000px;
    width:4000px;
  }
  